.container {
  max-width: 540px;
}

.narrowInput {
  max-width: 160px;
}

.wideInput {
  max-width: 350px;
}

@media (max-width: 768px) {
  .container {
    max-width: 330px;
  }

  .narrowInput {
    max-width: 330px;
  }
}
