.hero {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 16px 70px;
  background-image: url(../../images/hero-background.svg),
    linear-gradient(#59c8fd, #59c8fd),
    radial-gradient(
      circle at 51.1% 55.65%,
      rgba(255, 255, 255, 0.102) 0%,
      rgba(7, 145, 222, 0.2) 100%
    );

  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.logoContainer {
  margin-bottom: 40px;
}

.girlImage {
  width: 114.85px;
  height: 175.76px;
}

.boyImage {
  width: 137.12px;
  height: 165.87px;
  margin-bottom: 20px;
}

.link {
  margin-left: 65px;
  margin-right: 44px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.link:hover {
  opacity: 0.8;
}

.detiLogo {
}

.title {
  margin: 0;
  font-family: Pribambas;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
}
