.container {
  max-width: 538px;
  width: 100%;
  margin-top: 115px;
  position: relative;
  margin-left: 60px;
  display: inline;
}

.teacher {
  position: absolute;
  right: 70px;
}

@media (max-width: 1024px) {
  .container {
    margin: 0;
    max-width: 460px;
  }

  .teacher {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 330px;
  }
}
