.thankYou {
  padding: 70px 16px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/thankyou-background.svg);
  background-repeat: no-repeat;
  background-size: 1017px;
  background-position: bottom;
  margin-left: 40px;
}

.hashtag {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.flowerLeft {
  width: 92px;
  height: auto;
}

.flowerRight {
  width: 102px;
  height: auto;
}

.link {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  color: #00adee;
  text-decoration: underline;
  transition: opacity 0.3s linear;
}

.link:hover {
  opacity: 0.8;
}

.subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  max-width: 730px;
  text-align: center;
}

@media (max-width: 768px) {
  .thankYou {
    margin: 0 auto 10px;
    padding: 31.66px 40px 30px;
    background-image: url(./images/thankyou-background-mobile.svg);
    background-size: 330px;
  }

  .hashtag {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  .flowerLeft {
    width: 70.15px;
  }

  .flowerRight {
    width: 74.73px;
  }

  .subtitle {
    max-width: 330px;
    font-family: Pribambas;
    font-size: 25px;
  }
}
