.burger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.burgerSpan {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateZ(0);
}

.burger.open .burgerSpan:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 5px;
}

.burger.open .burgerSpan:nth-child(2) {
  opacity: 0;
}

.burger.open .burgerSpan:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: 5px;
}

.burger:hover {
  opacity: 0.5;
}

